Azure_Data_factory/pipeline/LineItem Transformed to Azure SQL.json
{
	"name": "LineItem Transformed to Azure SQL",
	"properties": {
		"activities": [
			{
				"name": "Transform Data",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "LineItemCleanFlow",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source1": {
								"fileName": {
									"value": "@variables('Files')",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Copy Data to Azure SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Transform Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"ordinal": 1
								},
								"sink": {
									"name": "orderkey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"ordinal": 2
								},
								"sink": {
									"name": "partkey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"ordinal": 3
								},
								"sink": {
									"name": "suppkey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"ordinal": 4
								},
								"sink": {
									"name": "linenumber",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"ordinal": 5
								},
								"sink": {
									"name": "quantity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"ordinal": 17
								},
								"sink": {
									"name": "extendedprice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"ordinal": 18
								},
								"sink": {
									"name": "discount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"ordinal": 19
								},
								"sink": {
									"name": "tax",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"ordinal": 20
								},
								"sink": {
									"name": "returnflag",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"ordinal": 10
								},
								"sink": {
									"name": "linestatus",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"ordinal": 21
								},
								"sink": {
									"name": "shipdate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"ordinal": 22
								},
								"sink": {
									"name": "commitdate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"ordinal": 23
								},
								"sink": {
									"name": "receiptdate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"ordinal": 24
								},
								"sink": {
									"name": "shipinstruct",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"ordinal": 25
								},
								"sink": {
									"name": "shipmode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"ordinal": 16
								},
								"sink": {
									"name": "comment",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "lineitemFinalCSV",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "activity('Transform Data').output",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlOutputTable",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "lineitem"
						}
					}
				]
			}
		],
		"variables": {
			"Files": {
				"type": "Array"
			},
			"ListOfFiles": {
				"type": "String"
			}
		},
		"annotations": []
	}
}